body{
    background-color: rgb(229, 216, 240);
}
section{
    width:65%;
    height: 70%;
    text-decoration: none;
    padding-left: 3%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    text-align: center;
    margin-left: 30%;
    border: 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px plum;
    background-color: rgb(130, 27, 226);
}
.h3{
    text-align: center;
}
.namee{
    display: flex;
}
.container{
    bac
    width: 80%;
    height: 40%;
    text-align: center;
}